.Input {
    width: 350px;
    height: 50px;
    position: relative;

    &__input {
        width: 350px;
        height: 50px;
        border-radius: 8px;
        outline: none;
        font-size: 26px;
        padding: 5px 10px;
    }

    &__label {
        font-size: 26px;
        font-weight: 600;
        position: absolute;
        left: 12px;
        top: 13px;
        width: 100%;
        z-index: 3;
        transition: 0.2s;
        background-color: #fff;

        &_active {
            width: auto;
            transition: 0.2s;
            transform: scale(0.7);
            top: -18px;
            left: 18px;
        }
    }

    &__visibility {
        position: absolute;
        right: 0;
        top: 22px;
        z-index: 4;
        display: block;
        cursor: pointer;

        &__off {
            display: none;
        }
    }

    
    &__visibilityOff {
        position: absolute;
        right: 0;
        top: 22px;
        display: none;
        z-index: 4;
        cursor: pointer;
        
        &__on {
            display: block;
        }
    }
}